body{
  background-color: #BB8A06;
}

#logo {
  padding-left: 45px;
  float: left;
}

#otsikko {
  font-size: 75px;
  font-family: 'Work Sans', sans-serif;
  padding-left: 100px;
}

#kirja {
  margin-top: -55px;
  font-family: 'Birthstone', cursive;
  padding-left: 100px;
  font-size: 35px;
}

nav
{
font-size: 25px;
width: 600px;
height: 20px;
margin-left: 600px;
}

nav ul
{
margin: 0 0 0 -10px;
}

nav li
{
float: left;
list-style-type: none;
padding: 0 10px;
}

a:link {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkorange;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

#logo2 {
  padding-left: 30px;
  float: left;
}

#tarina {
  margin-top: auto;
  font-size: 30px;
  padding-left: 70px;
}

#tietoa {
  padding-left: 15px;
  font-size: 18px;
  width: 800px;
}

#footer{
}

#kirkko {
  margin-top: -70px;
  margin-left: 500px;
}

#puu {
  margin-top: -70px;
}


article {
width: 200px;
background: #CCAB05;
}

article p {
color: purple;
margin-top: -20px;
padding: 10px;
}

article h3 {
  margin-left: 75px;
  padding: 10px;
}

aside {
border-radius: 15px;
width: 300px;
height: 400px;
background: #CCAB05;
float: right;
margin-right: 650px;
margin-top: -60px;
}

#maisema {
  padding: 10px;
  width: 280px;
}

#paikatp {
  font-size: 18px;
  padding: 20px;
}


#lähetä{
  border-radius: 15px;
  background-color: orange;
  display: block;
  margin-left: auto;
  margin-right: right;
  height: 50px;
  width: 100px;
}
div {
  margin-left: 10px;
  float: left;
  padding: 10px;
  border-radius: 15px;
  border: 5px solid #53a2d6;
  height: 325px;
  width: 400px;
}

#formp {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
}

#putous {
  float: left;
  margin-left: -440px;
  margin-top: 360px;
}

#suomi {
  float: left;
  margin-left: 10px;
  margin-top: 360px;
}

#kataja {
  float: left;
  margin-left: -600px;
}
